@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$purple: #a59ad7;
$pink: #fe76c2;
$blue: #37c7f2;
$light-red: #fff3f3;
$light: #fafcff;
$family-sans-serif: "Nunito",
sans-serif;
$primary: $purple;
$link: $blue;
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;
html,
body {
    height: 100%;
    font-size: 18px !important;
    overflow: hidden !important;
}